@model CHBQA.Models.KhachHang
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng Ký Thông Tin Khách Hàng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "Không được bỏ trống", new { @class = "text-danger" })
        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="hoten">ID Khách Hàng:</label>
            <div class="col-md-10">
            @Html.EditorFor(model => model.id_kh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.id_kh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="hoten">Họ Tên Khách Hàng:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="hoten">Tên Đăng Nhập:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.taikhoan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.taikhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="hoten">Mật khẩu:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.matkhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="MatKhauXacNhan">Mật khẩu xác nhận:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!" id="MatKhauXacNhan" name="MatKhauXacNhan" type="password" value="" aria-describedby="MatKhauXacNhan-error" aria-invalid="true">
                @ViewData["NhapMKXN"]
                @ViewData["MatKhauGiongNhau"]
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="MatKhauXacNhan">Email:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="MatKhauXacNhan">Địa Chỉ:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="text-align:left" class="control-label col-md-2" for="MatKhauXacNhan">Điện thoại:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng Ký" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Về trang chủ", "ListSP", "MatHang")
</div>

